.conent_wrapper{
    width:100%;
}
.interact_side{
    width:15%;
    height:100%;
    float:left;
    background-color: pink;
}
.calender_side{
    width:85%;
    height:100%;
    float: right;
    
}