.conent_wrapper {
  width: 100%;
}
.interact_side {
  width: 25%;
  height: 100%;
  float: left;
  /* background-color: pink; */
  padding: 10px;
}
.calender_side {
  margin-right: 1%;
  margin-left: 1%;
  width: 73%;
  height: 100%;
  float: right;
  padding: 10px;
}
